
.vscode/*
*.pyc
*.pyc
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
runs/bert_1585055914.509085/events.out.tfevents.1585055914.Willems-MacBook-Pro.local.10350.0
.DS_Store
runs/bert_1585057718.35476/events.out.tfevents.1585057718.Willems-MacBook-Pro.local.10513.0
.DS_Store
